extend default

block content
  p.
    Vous avez récemment été contacté par E-mail pour vous annoncer l'organisation d'une soirée
    badminton. Vous retrouverez toutes les informations nécessaires sur ce site. si vous avez
    des questions, n'hésitez pas à me contacter #[a(href="/contact") ici]

  p.
    Tournoi de Badminton 2017 - Le 7 Mars 2017 de 19h à 22h.