extend default

block content
  .news
    #recent.h3.
      24/02/2017 :
    p.
      La date retenue sera le 07 Mars 2017. De 19h à 22h. 3 terrains ont été reservés.
      Le complexe faisant restaurant, il y a une table rien que pour nous. Menu unique : Pizza !
    img(src="./images/menu_bbf2.jpg")